html {
    background: #ccc;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: space-between;
}

.header {
    width: 100%;
    height: 100px;
    background-color: greenyellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.main {
    width: 100%;
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
}

[class^="col"] {
    background-color: green;
    width: 30%;
    height: 100px;
    margin: 20px;
}

.footer {
    background: #222;
    width: 100%;
    color: red;
    padding: 15px;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    display: flex;
    align-items: stretch;
}

.sidebar {
    width: 200px;
    background-color: red;
}

.content {
    width: 600px;
    background-color: blue;
}
