html,
body,
main,
#map {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  background-color: #000;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}
.link a:hover {
  color: #f5d02f;
}
