<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>evoltech</title>
	<link rel="stylesheet" type="text/css" href="./css/reset.css">
	<link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>
	<header></header>


	<main>

		<section class="comparison-wrapper" ng-controller="tableCarCtrl">
		<h1>Сравнение</h1>
		<table>
			<tbody>
				<tr class="header-row">
					<td class="header-options">
						<span class="btn-description">Показывать только отличия?</span>
						<button class="btn" ng-click="hideRow()">Да</button>
						<button class="btn" ng-click="visibleRow()">Нет</button>
					</td>
					<td class="header-cell" ng-repeat="carOption in cars | limitTo:columLimit">
						<img class="header-img" ng-src="{{'./img/' + carOption.img}}">
						<button class="btn-slider_back" ng-if="$first" ng-click="changeIndex('back')">&#8249</button>
						<button class="btn-slider_next" ng-if="$last" ng-click="changeIndex('next')">&#8250</button>
						<div class="header-car">
							<span class="car-name">{{carOption.name}}</span>
							<span class="car-price-befo">{{carOption.priceBefo}}</span>
							<span class="car-price">{{carOption.price}}</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<h4>Основные параметры:</h4>
		<table>
			<tbody>
				<tr>
					<td class="options">Пробег</td>
					<td class="options-item" ng-repeat="carOption in cars | limitTo:columLimit">{{carOption.mileage}}</td>
				</tr>
				<tr>
					<td class="options">Кузов</td>
					<td class="options-item" ng-repeat="carOption in cars | limitTo:columLimit">{{carOption.body}}</td>
				</tr>
				<tr>
					<td class="options">Двигатель</td>
					<td class="options-item" ng-repeat="carOption in cars | limitTo:columLimit">{{carOption.engine}}</td>
				</tr>
				<tr>
					<td class="options">Привод</td>
					<td class="options-item" ng-repeat="carOption in cars | limitTo:columLimit">{{carOption.drive}}</td>
				</tr>
			</tbody>
		</table>
		<h4>Комплектация</h4>
		<h6>Комфорт</h6>
		<table>
			<tbody>
				<tr ng-show="optionShow.climateControl">
					<td class="options">Климат-контроль</td>
					<td ng-repeat="carOption in cars | limitTo:columLimit" ng-class="{yes : carOption.climateControl}"></td>
				</tr>
				<tr ng-show="optionShow.conditioner">
					<td class="options">Кондиционер</td>
					<td ng-repeat="carOption in cars | limitTo:columLimit" ng-class="{yes : carOption.conditioner}"></td>
				</tr>
				<tr ng-show="optionShow.wheels">
					<td class="options">Литые диски</td>
					<td ng-repeat="carOption in cars | limitTo:columLimit" ng-class="{yes : carOption.wheels}"></td>
				</tr>
				<tr ng-show="optionShow.multiWheel">
					<td class="options">Мультируль</td>
					<td ng-repeat="carOption in cars | limitTo:columLimit" ng-class="{yes : carOption.multiWheel}"></td>
				</tr>
				<tr ng-show="optionShow.parktronic">
					<td class="options">Парктроник</td>
					<td ng-repeat="carOption in cars | limitTo:columLimit" ng-class="{yes : carOption.parktronic}"></td>
				</tr>
			</tbody>
		</table>
		<h6>Безопасность</h6>
		<table>
			<tbody>
				<tr ng-show="optionShow.abs">
					<td class="options">ABS</td>
					<td ng-repeat="carOption in cars | limitTo:columLimit" ng-class="{yes : carOption.abs}"></td>
				</tr>
				<tr ng-show="optionShow.signaling">
					<td class="options">Сигнализация</td>
					<td ng-repeat="carOption in cars | limitTo:columLimit" ng-class="{yes : carOption.signaling}"></td>
				</tr>
			</tbody>
		</table>
		<h4>Преимущества</h4>
		<table>
			<tbody>
				<tr ng-show="optionShow.service">
					<td class="options">100% история обслуживания</td>
					<td ng-repeat="carOption in cars | limitTo:columLimit" ng-class="{yes : carOption.service}"></td>
				</tr>
				<tr ng-show="optionShow.asterPlus">
					<td class="options">Aster Plus Expert</td>
					<td ng-repeat="carOption in cars | limitTo:columLimit" ng-class="{yes : carOption.asterPlus}"></td>
				</tr>
			</tbody>
		</table>
		<h4>Автомобиль в салоне</h4>
		<table>
			<tbody>
				<tr>
					<td class="options">Салон</td>
					<td class="options-item" ng-repeat="carOption in cars | limitTo:columLimit">{{carOption.salon}}</td>
				</tr>
				<tr>
					<td class="options">Время работы</td>
					<td class="options-item" ng-repeat="carOption in cars | limitTo:columLimit">{{carOption.time}}</td>
				</tr>
				<tr>
					<td class="options">Телефон</td>
					<td class="options-item" ng-repeat="carOption in cars | limitTo:columLimit">{{carOption.telephone}}</td>
				</tr>
			</tbody>
		</table>
		<table>
			<tbody>
				<tr class="footer-row">
					<td>
						<h4>Варианты покупки</h4>
					</td>
					<td ng-repeat="carOption in cars | limitTo:columLimit">
						<button ng-click="buy(carOption.name)" class="btn btn-buy">Купить</button>
					</td>
				</tr>
			</tbody>
		</table>
		</section>

	</main>


	<footer></footer>

	<script type="text/javascript" src="./libs/angular.min.js"></script>
	<script type="text/javascript" src="./js/module.js"></script>
	<script type="text/javascript" src="./js/factory.js"></script>
	<script type="text/javascript" src="./js/controller.js"></script>
</body>
</html>
