@charset "utf-8";

body {
	background-color: #f7f7f7;
	min-width: 1280px;
}

.wrapper-phone {
	float: left;
	margin-left: 94px;
	height: 1428px;
	width: 541px;
	background-image: url(../img/bg_phone.png);
	position: relative;
}
.phone-content img {
	position: absolute;
	z-index: 1;
}
.phone-content img:nth-of-type(1) {
	top: 59px;
	left: 114px;
}
.phone-content img:nth-of-type(2) {
	top: 213px;
	left: 317px;
	z-index: 2;
}
.phone-content img:nth-of-type(3) {
	top: 326px;
	left: 227px;
}
.phone-content img:nth-of-type(4) {
	top: 293px;
	left: 74px;
	z-index: 2;
}
.phone-content img:nth-of-type(5) {
	top: 452px;
	left: 65px;
}
.phone-content img:nth-of-type(6) {
	top: 784px;
	left: 286px;
}
.phone-content img:nth-of-type(7) {
	top: 978px;
	left: 274px;
}
.phone-content img:nth-of-type(8) {
	top: 1049px;
	left: 63px;
}
.phone-content img:nth-of-type(9) {
	top: 1186px;
	left: 153px;
}
.burger-wrapper {
	position: fixed;
	top: 51px;
	left: 26px;
}
.burger {
	display: block;
	width: 40.5px;
  height: 5px;
  background-color: #333333;
  position: relative;
  margin: 0 auto;
}
.burger:nth-of-type(1) {
	top: 0px;
}
.burger:nth-of-type(2) {
	top: 5px;
	width: 32.5px;
}
.burger:nth-of-type(3) {
	top: 10px;
}
.phone-footer {
	position: fixed;
	width: 470px;
	bottom: 0;
	left: 130px;
	padding-bottom: 5px;
	padding-top: 5px;
	z-index: 20;
	background-color: #fff;
}
.phone-footer img {
	height: 30px;
}
.phone-footer a {
	position: absolute;
	top: 12px;
	vertical-align: middle;
}
.phone-footer a:nth-of-type(1) {
	left: 20px;
}
.phone-footer a:nth-of-type(2) {
	left: 90px;
}
.phone-footer a:nth-of-type(3) {
	left: 155px;
}
.phone-footer a:nth-of-type(4) {
	left: 410px;
}
.phone-footer input {
	width: 230px;
	height: 44px;
	border: 1px solid #7d909d;
	border-radius: 22px;
	padding: 0 50px 0 15px;
	color: #7d909d;
	outline: none;
	float: right;
	margin-right: 20px;
	font-size: 18px;
	background-color: #fafafa;
}


.wrapper-content {
	float: right;
	width: calc(100% - 635px);
	height: 1428px;
	font-family: "Arial";
}
.wrapper-content h5 {
	font-size: 17.7px;
	font-weight: 600;
	color: #333333;
	text-align: center;
}
.wrapper-content p {
	font-size: 14.8px;
	font-weight: 300;
	line-height: 1.67;
	color: #333333;
	max-width: 255px;
	margin: 0 auto;
}
.btn-wrapper {
	text-align: center;
	margin: 0 auto;
}
.btn {
	display: inline-block;
	max-width: 140px;
	padding: 5px 10px;
	border: 1px solid #333333;
	margin: 0 15px;
}
.btn-img {
	float: left;
	margin-top: 5px;
	margin-right: 10px;
}
.btn-small {
	font-size: 10px;
	color: #333333;
}
.btn-large {
	font-size: 16px;
	color: #333333;
}

.content-odessa {
	position: relative;
}
.content-odessa h5 {
	padding-top: 108px;
}
.content-odessa p {
	padding-top: 22px;
	padding-bottom: 22px;
}
.content-odessa-img {
	position: absolute;
}
.content-odessa-img:nth-of-type(1) {
	top: 100px;
	right: 70px;
}
.content-odessa-img:nth-of-type(2) {
	top: 366px;
	right: 132px;
}
.content-odessa-bg {
	position: absolute;
	width: 397px;
	height: 311px;
	top: 304px;
	right: 207px;
	background-image: url(../img/bg-content.png);
	background-position: 50%;
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.content-kiev {
	position: relative;
	top: 728px;
}
.content-kiev-img {
	position: absolute;
}
.content-kiev-img:nth-of-type(1) {
	top: 0;
	right: 13px;
}
.content-kiev-img:nth-of-type(2) {
	top: 340px;
	right: 244px;
}
.content-kiev-bg {
	position: absolute;
	width: 400px;
	top: 455px;
	right: 114px;
}
.content-kiev p {
	padding-top: 22px;
	padding-bottom: 22px;
}
.content-fixed {
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 20;
}