
/*-----header------*/

.header-wrapper {
	overflow: hidden;
	padding: 15px 0;
}

.header-logo {
	font-family: $font-caption;
	font-size: 45px;
	font-weight: 600;
	color: $black;
	line-height: 46px;
	transition-property: color;
	transition-duration: 0.2s;
}

.header-menu {
	display: block;
	cursor: pointer;
	float: right;
	position: relative;
	height: 20px;
	width: 25px;
	top: 13px;
}

.header-menu span {
	display: block;
	width: 25px;
	height: 2px;
	position: absolute;
	left: 0;
	background-color: $black;
	transition-property: top, transform, opacity, background-color;
	transition-duration: 0.2s;
}

.header-menu.open span {
	background-color: $grass;
}

.header-menu:hover > span {
	background-color: $grass;
}

.header-menu span:nth-child(1) {
	top: 1px;
}

.header-menu span:nth-child(2) {
	top: 9px;
}

.header-menu span:nth-child(3) {
	top: 17px;
}

.header-menu.open span:nth-child(1) {
	top: 9px;
	transform: rotate(45deg);
}

.header-menu.open span:nth-child(3) {
	top: 9px;
	transform: rotate(-45deg);
}

.header-menu.open span:nth-child(2) {
	opacity: 0;
}

.header-nav {
	overflow: hidden;
	text-align: right;
	max-height: 0;
	margin-top: 0;
	transition-property: max-height, margin-top;
	transition-duration: 0.5s;
}

.header-nav.open {
	margin-top: 10px;
	max-height: 300px;
}

.header-nav_item {
	padding: 5px 0;
}

.header-nav_link {
	display: inline-block;
	font-family: $font-caption;
	font-size: 14px;
	line-height: 17px;
	font-weight: 400;
	color: $black;
	text-transform: uppercase;
	transition-property: color;
	transition-duration: 0.2s;
}

.header-logo:hover,
.header-nav_link:hover {
	color: $grass;
}

.header-top_wrapper {
	max-width: 600px;
}

.header-top {
	background-image: url("../img/header_bg.jpg");
	background-position: 0 0;
	padding: 90px 0;
}

.header-text {
	margin-bottom: 60px;
}

.header-btn {
	margin: 20px 35px 0 0;
}

.btn__fill-green {
	@extend .btn;
	border: 2px solid $grass;
	color: #fff;
	background-color: $grass;
}

.btn__stroke-green {
	@extend .btn;
	border: 2px solid $grass;
	color: $grass;
}

.btn__fill-green:hover {
	color: $grass;
	background-color: transparent;
}

.btn__stroke-green:hover {
	color: $white;
	background-color: $grass;
}

.header-bottom {
	background-color: $grass;
	padding: 38px 0;
}

.header-list {
	margin-top: 20px;
} 

.header-list_item {
	color: $white;
	line-height: 19px;
	padding: 3px 0;
}

.header-list_item:before {
	content: ">";
	margin-right: 5px;
}


@media (min-width: 768px) {
	.header-nav {
		display: flex;
		justify-content: flex-end;
		text-align: center;
	}
	
	.header-nav.open {
		max-height: 50px;
	}
	
	.header-bottom__align {
		display: flex;
		align-items: center;
	}

	.header-list {
		margin-top: 0;
	} 
}


@media (min-width: 1000px) {
	.header-wrapper {
		display: flex;
		align-items: center;
	}
	.header-menu {
		display: none;
	}

	.header-nav {
		margin-top: 0 !important;
		max-height: 100px;
	}

	.header-nav_item {
		margin-left: 5px;
	}
}


@media (min-width: 1230px) {
	.header-nav_item:before {
		content: "";
		display: inline-block;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: $black;
		vertical-align: middle;
		margin-right: 5px;
	}
}