
/*--------variables--------*/

$font-caption: 'Fregat', sans-serif;
$font-text: 'PTSans', sans-serif;

$white: #fff;
$black: #363636;
$grass: #4cb027;
$greyish-brown: #4e4e4e;
$brownish-grey: #666666;
$warm-grey: #a2a2a2;
