
/*-------- home page --------*/

.homepage-logo {
	width: 240px;
	height: 240px;
	margin: -120px 0 0 -120px;
	cursor: default;
}

.homepage-link-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;
}

.homepage-link {
	position: relative;
}

.homepage-link_img {
	width: 70px;
}

.homepage-link_text {
	font-family: $base-font-family;
	font-size: 20px;
	position: absolute;
	transition-property: color;
	transition-duration: 0.2s;
}

.homepage-link {
	&:hover > .homepage-link_text {
		background: radial-gradient(50% 50% at center, rgba(255, 255, 255, 0.15), #000);
		color: $base-color-hover;
	}
	&:hover > .homepage-link_text__bottom {
		background: radial-gradient(30% 40% at center, rgba(255, 255, 255, 0.15), #000);
	}
	&:hover > .homepage-link_img {
		background: radial-gradient(50% 50% at center, rgba(255, 255, 255, 0.15), #000);
	}
}

.homepage-link_star {
	display: inline-block;
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: $base-color-line;
	box-shadow: 0 0 8px #fefefe;
	animation-name: stars;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 33s;
}


.homepage-link__technologies {
	left: 0;
	top: -110px;
}

.homepage-link__angular {
	left: -230px;
	top: -225px;
}

.homepage-link__net {
	left: 190px;
	top: -225px;
}

.homepage-link__xamarin {
	left: 330px;
	top: -150px;
}


.homepage-link__products {
	left: -160px;
	top: -15px;
}

.homepage-link__skbx {
	left: -380px;
	top: 2px;
}

.homepage-link__services {
	left: 155px;
	top: -15px;
}

.homepage-link__software {
	left: 430px;
	top: 30px;
}

.homepage-link__industries {
	left: 0;
	top: 110px;
}

.homepage-link__fintech {
	left: -240px;
	top: 210px;
}

.homepage-link__digital {
	left: 240px;
	top: 210px;
}


.homepage-link_text__center {
	position: static;
}

.homepage-link_text__left {
	bottom: 0;
	left: 0;
	transform: translate3d(-90%, 0, 0);
}

.homepage-link_text__right {
	bottom: 0;
	right: 0;
	transform: translate3d(85%, 0, 0);
}

.homepage-link_text__top {
	top: -10px;
	right: 0;
	transform: translate3d(85%, 0, 0);
}

.homepage-link_text__bottom {
	width: 200px;
	text-align: center;
	bottom: -58px;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
}

.homepage-link_text__right-bottom {
	bottom: -15px;
	right: 0;
	transform: translate3d(65%, 0, 0);
}


.homepage-link_star__technologies {
	left: calc(50% - 2px);
	top: -15px;
}

.homepage-link_star__angular {
	left: calc(100% - 5px);
	top: calc(100% - 15px);
	animation-delay: 12s;
}

.homepage-link_star__net {
	left: calc(50% - 2px);
	top: calc(100% + 8px);
	animation-delay: 3s;
}

.homepage-link_star__xamarin {
	left: -15px;
	top: calc(50% - 4px);
	animation-delay: 9s;
}

.homepage-link_star__products {
	left: calc(100% - 20px);
	top: calc(100% + 10px);
	animation-delay: 6s;
}

.homepage-link_star__skbx {
	left: calc(100% + 13px);
	top: calc(50% - 4px);
	animation-delay: 18s;
}

.homepage-link_star__services {
	left: 20px;
	top: calc(100% + 10px);
	animation-delay: 30s;
}

.homepage-link_star__software {
	left: -8px;
	top: calc(50% + 8px);
	animation-delay: 27s;
}

.homepage-link_star__industries {
	left: calc(50% - 2px);
	top: calc(100% + 15px);
	animation-delay: 21s;
}

.homepage-link_star__fintech {
	left: calc(100% + 13px);
	top: calc(50% - 4px);
	animation-delay: 24s;
}

.homepage-link_star__digital {
	left: -10px;
	top: calc(50% - 10px);
	animation-delay: 15s;
}
