<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>portfolio</title>
	<link rel="stylesheet" type="text/css" href="css/clear.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/libs.min.js"></script>
	<script type="text/javascript" src="js/module.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body ng-app="app" ng-controller="translate">

	<header class="header">
		<nav class="wrapper header-nav">
			<div class="header-lang">
				<button ng-click="changeLng('ru')" ng-class="{'select' : currentLng('ru')}" class="btn-lang">Ru</button>
				<button ng-click="changeLng('en')" ng-class="{'select' : currentLng('en')}" class="btn-lang">En</button>
			</div>
			<div class="header-menu">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<ul class="header-nav-list">
				<li class="header-nav-item">
					<a href="#personalId" class="header-nav-linck">{{ 'PERSONAL' | translate }}</a>
					<span class="nav-item-line-left"></span>
					<span class="nav-item-line-right"></span>
				</li>
				<li class="header-nav-item">
					<a href="#skillsId" class="header-nav-linck">{{ 'SKILLS' | translate }}</a>
					<span class="nav-item-line-left"></span>
					<span class="nav-item-line-right"></span>
				</li>
				<li class="header-nav-item">
					<a href="#javascriptId" class="header-nav-linck">JavaScript</a>
					<span class="nav-item-line-left"></span>
					<span class="nav-item-line-right"></span>
				</li>
				<li class="header-nav-item">
					<a href="#portfolioId" class="header-nav-linck">{{ 'PORTFOLIO' | translate }}</a>
					<span class="nav-item-line-left"></span>
					<span class="nav-item-line-right"></span>
				</li>
			</ul>
		</nav>
	</header>

	<main>

		<div class="wrapper personal" id="personalId">
			<h4>{{ 'PERSONAL' | translate }}</h4>
			<div class="personal-header">
				<img class="pesonal-img" src="img/photo.jpg" alt="photo">
				<ul class="personal-informathion">
					<li>{{ 'FIO' | translate }}</li>
					<li>email: <a href="mailto:denisenko.ia1987@gmail.com">denisenko.ia1987@gmail.com</a></li>
					<li>skype: denisenko.ia</li>
					<li>{{ 'PHONE' | translate }}: +380963621604</li>
				</ul>
			</div>
			<p>{{ 'ABOUTMY' | translate }}</p>
		</div>

		<div class="wrapper inform-row skills" id="skillsId">
			<img class="inform-icon" src="img/icon_01.png" alt="icon">
			<h4>{{ 'SKILLS' | translate }}</h4>
			<div class="skills-wrapper">
				<ul class="skills-list">
					<li class="skills-item">HTML5</li>
					<li class="skills-item">CSS3</li>
					<li class="skills-item">JavaScript</li>
					<li class="skills-item">JQuery</li>
					<li class="skills-item">SASS/SCSS</li>
					<li class="skills-item">Gulp</li>
				</ul>
				<ul class="skills-list">
					<li class="skills-item">Bower</li>
					<li class="skills-item">Bootstrap</li>
					<li class="skills-item">Foundation</li>
					<li class="skills-item">AngularJs</li>
					<li class="skills-item">AJAX</li>
					<li class="skills-item">JSON</li>
				</ul>
				<ul class="skills-list">
					<li class="skills-item">NodeJs</li>
					<li class="skills-item">npm</li>
					<li class="skills-item">SVG</li>
					<li class="skills-item">Canvas</li>
					<li class="skills-item">Wordpress</li>
					<li class="skills-item">Joomla</li>
				</ul>
			</div>
		</div>

		<div class="wrapper inform-row javascript" id="javascriptId">
			<img class="inform-icon" src="img/icon_02.png" alt="icon">
			<h4>{{ 'KNOWLEDGE' | translate }}</h4>
			<div class="javascript-list-item">
				<span class="javascript-item">{{ 'NOTSPEAK' | translate }}</span>
				<span class="javascript-item">{{ 'USEREADY' | translate }}</span>
				<span class="javascript-item">{{ 'COMPLEXJS' | translate }}</span>
			</div>
			<div class="javascript-slider" id="slider">
				<svg class="slider-line" viewBox="0 0 768 14" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
					<polygon points="0, 11, 768, 0, 768, 14, 0, 14" fill="#c8c8c8"></polygon>
				</svg>
				<svg class="slider-line" viewBox="0 0 768 14" preserveAspectRatio="none" id="slider-line" version="1.1" xmlns="http://www.w3.org/2000/svg">
					<defs>
						<linearGradient id="gradient" x1="0%" x2="100%" y1="0%" y2="0%">
        			<stop offset="0%" stop-color="#ccb1f1"></stop>
        			<stop offset="100%" stop-color="#435993"></stop>
      			</linearGradient>
					</defs>
					<polygon points="0, 11, 768, 0, 768, 14, 0, 14" fill="url(#gradient)"></polygon>
				</svg>
				<div class="slider-control" id="control">
				</div>
			</div>
		</div>

		<div class="wrapper inform-row portfolio" id="portfolioId">
			<img class="inform-icon" src="img/icon_03.png" alt="icon">
			<h4>{{ 'PORTFOLIO' | translate }}</h4>
			<div class="portfolio-item-wrapper">
				<div class="portfolio-item">
					<a href="https://denisenkoia.github.io/beforeAfterSlider"><img src="img/beforeAfterSlider.jpg" alt="img"></a>
				</div>
				<div class="portfolio-item">
					<a href="https://denisenkoia.github.io/callcenter/page/home.html"><img src="img/callcenter.jpg" alt="img"></a>
				</div>
				<div class="portfolio-item">
					<a href="https://denisenkoia.github.io/microstore/index.html"><img src="img/microstore.jpg" alt="img"></a>
				</div>
				<div class="portfolio-item">
					<a href="https://denisenkoia.github.io/holocaust/index.html"><img src="img/holocaust.jpg" alt="img"></a>
				</div>
				<div class="portfolio-item">
					<a href="https://denisenkoia.github.io/toptranslation/index.html"><img src="img/toptranslation.jpg" alt="img"></a>
				</div>
				<div class="portfolio-item">
					<a href="https://denisenkoia.github.io/datepicker/index.html"><img src="img/datepiccer.jpg" alt="img"></a>
				</div>
				<div class="portfolio-item">
					<a href="https://denisenkoia.github.io/attachment"><img src="img/attachment.jpg" alt="img"></a>
				</div>
				<div class="portfolio-item">
					<a href="https://denisenkoia.github.io/templateEmail"><img src="img/templateEmail.jpg" alt="img"></a>
				</div>
			</div>
		</div>
	</main>
	
	<footer class="footer">
		<div class="wrapper">
			<p>+380963621604<a href="mailto:denisenko.ia1987@gmail.com">denisenko.ia1987@gmail.com</a></p>
		</div>
	</footer>
</body>
</html>