<div class="login-form-wrapper">
	<form ng-submit="logIn(accountLogin, accounPassword)">
		<h1>{{ 'SIGNIN' | translate }}</h1>
		<p>{{ 'LOGIN' | translate }}</p>
		<input type="text" name="" ng-model="accountLogin" placeholder="{{ 'LOGIN' | translate }}" required>
		<p>{{ 'PASSWORD' | translate }}</p>
		<input type="text" name="" ng-model="accounPassword" placeholder="{{ 'PASSWORD' | translate }}" required>
		<input type="submit" name="" value="{{ 'SIGNIN' | translate }}">
	</form>
</div>