@charset "utf-8";

/*--------fonts---------*/

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr.otf") format("opentype"));
  font-style: normal;
}

/*--------global--------*/


body {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
	background-size: cover;
	font-family: 'HelveticaNeueCyr', sans-serif;
	color: #fff;
	font-size: 24px;
	min-width: 768px;
}

h1 {
	font-size: 50px;
	font-weight: 500;
	text-transform: uppercase;
}

h3 {
	font-size: 36px;
	font-weight: 500;
	text-transform: uppercase;
}

h4 {
	font-size: 36px;
	line-height: 46px;
}

p {
	line-height: 29px;
	font-size: 24px;
}

a {
	color: #4685f9;
	text-decoration: underline;
	transition-property: background-color, color;
	transition-duration: 0.2s;
}

a:hover {
	color: #62d364;
}

@media print, screen and (max-width: 1520px) {
	h1 {
		font-size: 36px;
	}

	h3, h4 {
		font-size: 28px;
		}

	p {
		font-size: 20px;
		line-height: 24px;
	}

}

/*--------components--------*/



/*------Header------*/


.header-top {
	padding: 45px 50px
}
.header-menu {
	float: right;
}
.header-logo,
.header-logo img {
	vertical-align: middle;
}
.header-menu {
	cursor: pointer;
	float: right;
	position: relative;
	height: 33px;
	width: 57px;
}
.header-menu span {
	display: block;
	width: 57px;
	height: 5px;
	position: absolute;
	left: 0;
	background-color: #fff;
	border-radius: 3px;
	transition-property: top, transform, opacity, background-color;
	transition-duration: 0.3s;
}
.header-menu.open span {
	background-color: #62d364;
}
.header-menu:hover > span {
	background-color: #62d364;
}
.header-menu span:nth-child(1) {
	top: 0;
}
.header-menu span:nth-child(2) {
	top: 14px;
}
.header-menu span:nth-child(3) {
	top: 28px;
}
.header-menu.open span:nth-child(1) {
	top: 14px;
	transform: rotate(45deg);
}
.header-menu.open span:nth-child(3) {
	top: 14px;
	transform: rotate(-45deg);
}
.header-menu.open span:nth-child(2) {
	opacity: 0;
}
.header-bottom {
	text-align: center;
}
.header-img {
	margin-top: -120px;
	margin-bottom: -100px;
	margin-left: -68px;
}
.header-bottom h3 {
	margin-top: 25px;
	margin-bottom: 45px;
}
.header-bottom-description {
	max-width: 1000px;
	margin: 0 auto;
}

@media print, screen and (max-width: 1520px) {
	.header-top {
		display: none;
		padding: 0 75px;
	}
	.header-bottom {
		padding: 0 75px;
		margin-bottom: -50px;
	}
	.header-img {
		width: 750px;
		margin: 0 auto;
		margin-top: -80px;
		margin-bottom: -45px;
		margin-left: -80px;
	}
	.header-bottom h3 {
		margin-top: 20px;
		margin-bottom: 30px;
	}
}


/*------Content------*/


.content-wrapper {
	padding-top: 100px;
	overflow: hidden;
}
.content-section-wrapper {
	max-width: 1450px;
	margin: 0 auto;
	margin-top: 20px;
}
.content-section-description {
	text-align: center;
}
.content-section-article {
	position: relative;
	margin-bottom: 30px;
}
.article-img {
	position: absolute;
	top: -105px;
	left: -80px;
}
.article-description-wrapper {
	padding-left: 470px;
	min-height: 250px;
	display: flex;
	align-items: center;
}
.article-description {
	margin-top: 40px;
}
.link-wrapper {
	margin-top: 72px;
	position: relative;
	z-index: 10;
}

.best-version-description {
	transform: rotate(-4.4deg);
	margin-top: -132px;
	margin-bottom: 75px;

}
.recharging-description {
	transform: rotate(3.2deg);
	margin-top: -128px;
	margin-bottom: 67px;
}
.know-world-description {
	transform: rotate(-3.2deg);
	margin-top: -140px;
	margin-bottom: 136px;
}

.best-version,
.recharging,
.know-world {
	background-repeat: no-repeat;
	background-position: center;
	padding-right: 70px;
	padding-left: 185px;
	padding-top: 120px;
}
.best-version {
	background-image: url('../img/bg_01.png');
	min-height: 982px;
}
.recharging {
	background-image: url('../img/bg_02.png');
	min-height: 1516px;
	padding-top: 120px;
}
.know-world {
	background-image: url('../img/bg_03.png');
	min-height: 1131px;
	padding-top: 120px;
}

.best-version:before,
.best-version:after,
.recharging:before,
.recharging:after,
.know-world:before,
.know-world:after {
	content: "";
	display: block;
	position: relative;
	height: 4px;
	width: 300%;
	background-color: #3f345e;
}
.best-version:before {
	left: calc(75px - 200%);
	top: 19px;
	transform: rotate(-4.4deg);
	background-color: #3f345e;
}
.best-version:after {
	left: -124px;
	top: 154px;
	transform: rotate(5.1deg);
	background-color: #3f345e;
}
.recharging:before {
	left: calc(29px - 200%);
	top: -124px;
	transform: rotate(3.1deg);
	background-color: #283367;
}
.recharging:after {
	left: -88px;
	top: -188px;
	transform: rotate(-5.5deg);
	background-color: #283367;
}
.know-world:before {
	left: calc(70px - 200%);
	top: -20px;
	transform: rotate(-3deg);
	background-color: #3f345e;
}
.know-world:after {
	left: -93px;
	top: 12px;
	transform: rotate(2deg);
	background-color: #3f345e;
}


/*------Корректировка------*/


.recharging-article {
	margin-bottom: 132px;
}
.recharging-description-align {
	align-items: flex-start;
}
.know-world-article {
	margin-bottom: 140px;
}
.img_edit_03 {
	top: -145px;
}
.img_edit_04 {
	top: -165px;
}
.img_edit_05 {
	top: -165px;
}
.img_edit_06 {
	top: -165px;
}
.img_edit_07 {
	top: -165px;
}
.img_edit_08 {
	top: -195px;
}

@media print, screen and (max-width: 1520px) {
	.content-wrapper {
		padding-top: 0;
	}
	.content-section-wrapper {
		max-width: auto;
	}
	.best-version,
	.recharging,
	.know-world {
		background-size: cover;
		padding: 175px 75px 175px 75px;
	}
	.best-version {
		padding-top: 150px;
	}
	.recharging {
		padding-bottom: 40px;
		margin-top: -100px;
	} 
	.best-version:before,
	.best-version:after,
	.recharging:before,
	.recharging:after,
	.know-world:before,
	.know-world:after {
		display: none;
	}
	.best-version-description,
	.recharging-description,
	.know-world-description {
		transform: none;
		margin: 0 auto;
	}
	.best-version {
		margin-top: 0;
	}
	.article-img {
		position: relative;
		left: 0;
		top: 0;
		display: block;
		margin: 0 auto;
		margin-top: -50px;
		margin-bottom: -120px;
	}
	.img_edit_03 {
		margin-top: -110px;
		margin-bottom: -110px;
	}
	.img_edit_04 {
		top: -40px;
	}
	.img_edit_05 {
		top: -130px;
		margin-bottom: -180px;
	}
	.img_edit_06 {
		top: -130px;
		margin-bottom: -180px;
	}
	.img_edit_07 {
		top: -30px;
	}
	.img_edit_08 {
		top: -170px;
		margin-bottom: -210px;
	}
	.article-description-wrapper {
		padding: 0;
		min-height: auto;
	}
	.link-wrapper {
		margin-top: 40px;
	}
	.article-description {
		margin-top: 32px;
	}
	.recharging-description {
		margin-top: -70px;
	}
	.know-world {
		padding-top: 100px;
		margin-top: -80px;
		padding-bottom: 40px;
	}

	

}




/*------footer------*/

.footer-text {
	text-align: center;
	line-height: 70px;
	margin-top: 35px;
}
.footer-logo {
	font-style: italic;
}
.footer-bottom {
	padding: 160px 50px 50px 30px;
}
.footer-list {
	display: inline-block;
}
.footer-item {
	display: inline-block;
	width: 68px;
	overflow: hidden;
}
.img-link_01 {
	margin-left: 17px;
}
.img-link_02 {
	margin-left: -51px;
}
.img-link_03 {
	margin-left: -119px;
}
.footer-link {
	display: inline-block;
	vertical-align: middle;
	float: right;
	line-height: 32px;
	border-radius: 16px;
	text-align: center;
	width: 150px;
	font-size: 20px; 
	background-color: #fff;
	color: #000;
	text-decoration: none;
}
.footer-link:hover {
	background-color: #62d364;
	color: #fff;
}

@media print, screen and (max-width: 1520px) {
	.footer-bottom {
		display: none;
	}
	.footer-text {
		margin-top: -150px;
		background-color: #4d3893;
		padding-bottom: 30px;
	}
}