
<div ng-controller="itemtest">

	<div class="item-wrapper">
		<h2>Items</h2>
		<div>
			<form ng-submit="itemAdd(item); itemContent()">
				<input type="text" name="" ng-model="item">
				<input type="submit" name="" value="Add new">
			</form>
		</div>
		<div>
			<ul>
				<li class="listItem" ng-repeat="items in itemArr track by $index">
				<!-- <input type="radio" name="browser"> -->

					
						<a href="" ng-click="commentsItem($event, $index)">{{items}}</a><span>{{objOverview[items].length}}</span>
						<button ng-click="removeItem($index)">delete</button>
					

				</li>
			</ul>
		</div>
	</div>

	<div class="comments-wrapper">
		<h2>Comments {{numberItem}}</h2>
		<div>
			<ul>
				<li ng-repeat="comments in itemCommentsArr track by $index">
					<img src="../img/avatar.svg">
					<p>{{comments}}</p>
				</li>
			</ul>
		</div>
		<form class="comments-form" ng-submit="itemCommentsAdd(itemComments)">
			<img src="img/avatar.svg">
			<div class="comments-form-text">
				<textarea ng-keydown="commentsSubmitKey($event)" ng-keyup="commentsSubmit($event)" ng-model="itemComments"></textarea>
				<input type="submit" name="" value="submit">
				<input type="reset" name="" value="cancel" ng-click="commentsReset()">
			</div>
		</form>
	</div>

</div>
