/*-----clear-----*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  text-decoration: none; }

a {
  text-decoration: none; }
  a:link, a:active, a:visited {
    text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

/*-----base-----*/
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1c1c1c; }

h1 {
  font-size: 70px;
  font-weight: 100; }

h4 {
  font-size: 30px;
  font-weight: 300; }

p {
  font-weight: 300; }

/*-----header-----*/
.header-nav {
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100; }

.header-menu {
  display: none; }

.nav-list {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 29.5px 16px;
  cursor: default; }

.nav-item {
  display: inline-block; }

.nav-linck {
  font-size: 14px;
  font-weight: 300;
  color: #435993;
  line-height: 20px;
  margin: 0 36px;
  cursor: pointer; }
  .nav-linck.open, .nav-linck:hover {
    color: #1c1c1c; }

@media screen and (max-width: 768px) {
  .nav-list {
    position: absolute;
    top: 85px;
    right: 16px;
    z-index: 100;
    padding: 0;
    max-height: 0;
    transition-property: max-height;
    transition-duration: 0.5s;
    overflow: hidden; }
    .nav-list.open {
      max-height: 200px; }
  .nav-item {
    display: block;
    text-align: right;
    padding: 5px 0; }
  .nav-linck {
    margin-right: 0; }
  .header-nav {
    padding: 29.5px 16px; }
  .header-menu {
    display: block;
    cursor: pointer;
    float: right;
    position: relative;
    height: 20px;
    width: 25px; }
    .header-menu span {
      display: block;
      width: 25px;
      height: 2px;
      position: absolute;
      left: 0;
      background-color: #666;
      transition-property: top, transform, opacity, background-color;
      transition-duration: 0.2s; }
    .header-menu span:nth-child(1) {
      top: 1px; }
    .header-menu span:nth-child(2) {
      top: 9px; }
    .header-menu span:nth-child(3) {
      top: 17px; }
    .header-menu:hover > span,
    .header-menu.open > span {
      background-color: #1c1c1c; }
    .header-menu.open > span:nth-child(1) {
      top: 9px;
      transform: rotate(45deg); }
    .header-menu.open > span:nth-child(3) {
      top: 9px;
      transform: rotate(-45deg); }
    .header-menu.open > span:nth-child(2) {
      opacity: 0; } }

/*-----content-----*/
.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 200px 16px 74px 16px; }
  .content-wrapper h1 {
    margin: 0 auto;
    text-align: center; }

.information {
  margin-top: 68px; }
  .information img {
    display: block;
    margin: 0 auto; }
  .information h4 {
    padding-top: 26px;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center; }
  .information p {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 36px;
    text-align: center;
    line-height: 24px; }
  .information input[type="text"], .information select {
    font-size: 24px;
    font-weight: 400;
    color: #c8c8c8;
    display: block;
    margin: 25px auto;
    height: 60px;
    width: 100%;
    border: 1px solid #c8c8c8;
    text-align: center;
    border-radius: 4px;
    width: 100%;
    outline-color: #1c1c1c; }
  .information input[type="text"] {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 520px; }
  .information input[type="text"]:last-of-type {
    margin-bottom: 1px; }
  .information select {
    max-width: 320px;
    text-align-last: center;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    -webkit-appearance: none;
      -webkit-appearance--moz-appearance: none;
      -webkit-appearance-appearance: none; }
  .information input[type="checkbox"] {
    display: none; }

.photo {
  border-radius: 50%;
  width: 100%;
  max-width: 320px; }

.skills {
  margin-top: 75px;
  overflow: hidden; }

.form-skills {
  margin-top: 25px; }

.skills-item-wrapper {
  display: inline-block;
  width: 33.333333%;
  float: left;
  font-weight: 300; }

.skills-item {
  padding: 7px 0;
  vertical-align: middle;
  line-height: 20px; }
  .skills-item label {
    cursor: pointer; }
  .skills-item label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #c0c8db;
    border-radius: 2px;
    vertical-align: middle;
    position: relative;
    bottom: 2px;
    margin-right: 13px; }
  .skills-item input[type="checkbox"]:checked + label:before {
    content: "\2713" !important;
    text-align: center !important;
    border-color: #1c1c1c; }

.javascript {
  margin-top: 125px; }

.javascript-list-item {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
  margin-top: 25px; }

.javascript-item {
  font-weight: 300;
  font-size: 13px;
  display: inline-block;
  float: left;
  width: 25%;
  padding: 0 7.5px;
  line-height: 20px;
  position: relative; }
  .javascript-item:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -27px;
    height: 27px;
    border-left: 2px dotted #c8c8c8; }
  .javascript-item:first-of-type {
    padding-left: 0; }
  .javascript-item:last-of-type {
    float: right;
    text-align: right;
    padding-right: 0; }
    .javascript-item:last-of-type:before {
      right: 0; }

.javascript-slider {
  position: relative;
  z-index: 10;
  position: relative;
  height: 60px;
  cursor: default; }

.slider-line {
  width: 100%;
  height: 14px;
  position: absolute;
  left: 0;
  top: 0; }
  .slider-line:last-of-type {
    clip: rect(0px 500px 14px 0px); }

.slider-control {
  display: inline-block;
  position: absolute;
  width: 23px;
  height: 26px;
  background-image: url("../img/icon_04.png");
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
  margin-left: -12px;
  top: 17px;
  left: 500px; }

.comments {
  margin-top: 53px; }

.information-text {
  display: block;
  width: 100%;
  max-width: 520px;
  height: 180px;
  max-height: 180px;
  margin: 0 auto;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  outline-color: #1c1c1c;
  padding: 20px;
  font-size: 20px;
  color: #c8c8c8;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 25px; }

.btn {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: block;
  margin: 0 auto;
  border: none;
  width: 115px;
  height: 50px;
  background-color: #435993;
  border-radius: 8px;
  color: #fff;
  margin-top: 66px;
  cursor: pointer;
  outline: none; }
  .btn:hover {
    filter: brightness(120%); }

@media screen and (max-width: 650px) {
  .skills-item-wrapper {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    float: none; } }

@media screen and (max-width: 600px) {
  .javascript-item {
    width: 50%; }
    .javascript-item:nth-of-type(2), .javascript-item:nth-of-type(3) {
      display: none; } }
