html,
input,
a,
table {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #333;
	font-weight: 400;
}
.calendar-wrapper {
	display: table;
	text-align: center;
	width: 216px;
}
.calendar-select-wrapper {
	margin-top: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	display: none;
}
.calendar-select-wrapper.open {
	display: block;
}
.calendar-select {
	background-color: #FCFCFC;
	border-bottom: 1px solid #CFCFCF;
}
input {
	font-size: 13px;
	line-height: 24px;
	text-align: center;
	border: 1px solid #CFCFCF;
	outline-color: #46C1F1;
}
input[name="date-time"] {
	width: 80%;
	cursor: pointer;
}
input[name="date-time"]:hover {
	background-color: #ECF6FF;
}
input[name="date"],
input[name="time"] {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 3px;
	margin-right: 3px;
}
input[name="date"] {
	width: 125px;
}
input[name="time"] {
	width: 40px;
}
.table-wrapper {
	padding: 20px 15px;
}
.table-select-wrapper {
	padding-left: 10px;
	padding-right: 10px;
}
button {
	background: none;
	border: none;
	padding: 5px 9px;
	vertical-align: middle;
	cursor: pointer;
	outline: none;
}
button:hover {
	background-color: #ECF6FF;
	border-right: 0.5px;
}
button img {
	margin-top: 2px;
	height: 12px;
}
.btnleft {
	float: left;
}
.btnright {
	float: right;
}
.table-select-wrapper span {
	line-height: 25px;
}
table {
	margin-top: 15px;
	width: 100%;
	border-collapse: collapse;
}
th {
	font-size: 11px;
	font-weight: 300;
}
tbody tr,
tbody td {
	border: 1px solid #EBEBEB;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
}
td:hover {
	background-color: #4AA4F2;
	color: #fff;
}
.calendar-inform {
	overflow: visible; 
	clear: both;
	margin-top: 15px;
}
.calendar-inform img {
	float: right;
	width: 24px;
	visibility: hidden;
}
.calendar-inform img.img-ok {
	visibility: visible;
}
.calendar-inform a {
	font-size: 11px;
	line-height: 16px;
	margin-top: 4px;
	cursor: pointer;
	float: left;
	border-bottom: 1px solid #B4B4B4; 
	color: #B4B4B4;
}
.calendar-inform a:hover {
	color: #333;
}
.calendar-inform:after {
    content: "";
    display: table;
    clear: both;
}
.today_class {
	background-color: rgba(126, 202, 89, 0.4);
}
.day_user {
	background-color: #7ECA59;
	color: #fff;
}