/*--------variables--------*/
/*--------mixins--------*/
/*--------fonts---------*/
@font-face {
  font-family: 'PTSans';
  src: url("../fonts/PT_Sans/PT_Sans-Web-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'PTSans';
  src: url("../fonts/PT_Sans/PT_Sans-Web-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Fregat';
  src: url("../fonts/fregat/Fregat_bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Fregat';
  src: url("../fonts/fregat/Fregat_regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }

/*--------global--------*/
*, html, body {
  font-family: "PTSans", sans-serif;
  font-size: 16px;
  line-height: 19px; }

html, body {
  min-width: 320px; }

.body-wrapper {
  max-width: 1360px;
  margin: 0 auto; }

.caption {
  font-family: "Fregat", sans-serif;
  font-weight: 600;
  text-transform: uppercase; }

h2 {
  font-size: 32px;
  line-height: 38px;
  color: #4cb027;
  text-align: center; }

h3 {
  font-size: 28px;
  line-height: 34px;
  color: #4cb027; }

h4 {
  font-size: 24px;
  line-height: 29px;
  color: #4cb027; }

h5 {
  font-size: 20px;
  line-height: 25px;
  color: #fff; }

h6 {
  font-family: "PTSans", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase; }

/*--------components modificator--------*/
.btn, .btn__fill-green, .btn__stroke-green, .btn__greyish-brown {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  padding: 12px 40px;
  border-radius: 3px;
  transition-property: color, background-color;
  transition-duration: 0.3s; }

.text__height {
  font-size: 19px;
  line-height: 28px;
  margin: 25px 0; }

.text__small {
  font-size: 15px;
  line-height: 18px;
  margin: 25px 0; }

.taxt-align__center {
  text-align: center; }

.color__greyish-brown {
  color: #4e4e4e; }

.color__warm-grey {
  color: #a2a2a2; }

.color__black {
  color: #363636; }

.color__white {
  color: #fff; }

.color__grass {
  color: #4cb027; }

/*-----header------*/
.header-wrapper {
  overflow: hidden;
  padding: 15px 0; }

.header-logo {
  font-family: "Fregat", sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: #363636;
  line-height: 46px;
  transition-property: color;
  transition-duration: 0.2s; }

.header-menu {
  display: block;
  cursor: pointer;
  float: right;
  position: relative;
  height: 20px;
  width: 25px;
  top: 13px; }

.header-menu span {
  display: block;
  width: 25px;
  height: 2px;
  position: absolute;
  left: 0;
  background-color: #363636;
  transition-property: top, transform, opacity, background-color;
  transition-duration: 0.2s; }

.header-menu.open span {
  background-color: #4cb027; }

.header-menu:hover > span {
  background-color: #4cb027; }

.header-menu span:nth-child(1) {
  top: 1px; }

.header-menu span:nth-child(2) {
  top: 9px; }

.header-menu span:nth-child(3) {
  top: 17px; }

.header-menu.open span:nth-child(1) {
  top: 9px;
  transform: rotate(45deg); }

.header-menu.open span:nth-child(3) {
  top: 9px;
  transform: rotate(-45deg); }

.header-menu.open span:nth-child(2) {
  opacity: 0; }

.header-nav {
  overflow: hidden;
  text-align: right;
  max-height: 0;
  margin-top: 0;
  transition-property: max-height, margin-top;
  transition-duration: 0.5s; }

.header-nav.open {
  margin-top: 10px;
  max-height: 300px; }

.header-nav_item {
  padding: 5px 0; }

.header-nav_link {
  display: inline-block;
  font-family: "Fregat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #363636;
  text-transform: uppercase;
  transition-property: color;
  transition-duration: 0.2s; }

.header-logo:hover,
.header-nav_link:hover {
  color: #4cb027; }

.header-top_wrapper {
  max-width: 600px; }

.header-top {
  background-image: url("../img/header_bg.jpg");
  background-position: 0 0;
  padding: 90px 0; }

.header-text {
  margin-bottom: 60px; }

.header-btn {
  margin: 20px 35px 0 0; }

.btn__fill-green {
  border: 2px solid #4cb027;
  color: #fff;
  background-color: #4cb027; }

.btn__stroke-green {
  border: 2px solid #4cb027;
  color: #4cb027; }

.btn__fill-green:hover {
  color: #4cb027;
  background-color: transparent; }

.btn__stroke-green:hover {
  color: #fff;
  background-color: #4cb027; }

.header-bottom {
  background-color: #4cb027;
  padding: 38px 0; }

.header-list {
  margin-top: 20px; }

.header-list_item {
  color: #fff;
  line-height: 19px;
  padding: 3px 0; }

.header-list_item:before {
  content: ">";
  margin-right: 5px; }

@media (min-width: 768px) {
  .header-nav {
    display: flex;
    justify-content: flex-end;
    text-align: center; }
  .header-nav.open {
    max-height: 50px; }
  .header-bottom__align {
    display: flex;
    align-items: center; }
  .header-list {
    margin-top: 0; } }

@media (min-width: 1000px) {
  .header-wrapper {
    display: flex;
    align-items: center; }
  .header-menu {
    display: none; }
  .header-nav {
    margin-top: 0 !important;
    max-height: 100px; }
  .header-nav_item {
    margin-left: 5px; } }

@media (min-width: 1230px) {
  .header-nav_item:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #363636;
    vertical-align: middle;
    margin-right: 5px; } }

/*------programm-info------*/
.programm-info {
  padding: 70px 0 15px 0; }

.slider {
  padding: 0;
  position: relative; }

.slider-btn, .slider-btn_left, .slider-btn_right {
  background: none;
  border: 1px solid #4cb027;
  border-radius: 50%;
  color: #4cb027;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  outline: none;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 0.2s; }
  .slider-btn:hover, .slider-btn_left:hover, .slider-btn_right:hover {
    color: #fff;
    background-color: #4cb027; }

.slider-btn_left {
  padding: 10px 28px 10px 23px;
  left: 0; }

.slider-btn_right {
  padding: 10px 23px 10px 28px;
  right: 0; }

.slick-dots {
  position: relative;
  text-align: center;
  margin-top: -60px;
  margin-bottom: 44px;
  z-index: 5; }

.slick-dots li {
  display: inline-block; }

.slick-dots button {
  background: none;
  border: 1px solid #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 7px;
  outline: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.2s; }

.slick-active button {
  background-color: #fff; }

.programm-list_left {
  margin-top: 25px; }

.program-list_item {
  color: #666666;
  line-height: 19px;
  padding: 5px 0; }

.program-list_item:before {
  font-family: "FontAwesome";
  content: "\f00c";
  color: #4cb027;
  margin-right: 5px;
  display: inline-block; }

@media (min-width: 768px) {
  .programm-list_left,
  .programm-list_right {
    margin: 25px 0 0 0; } }

@media (min-width: 1000px) {
  .slider {
    padding: 0 100px;
    position: relative; } }

/*------call------*/
.call {
  text-align: center;
  padding: 50px 0;
  background-color: #ddffcc; }

.btn__greyish-brown {
  border: 2px solid #4e4e4e;
  color: #4e4e4e;
  margin-top: 40px; }
  .btn__greyish-brown:hover {
    color: #fff;
    background-color: #4e4e4e; }

.call-caption {
  font-size: 20px;
  margin-bottom: 8px;
  margin-top: 20px; }

.call-caption__mrg {
  margin-top: 0; }

/*------information------*/
.information {
  background-image: url("../img/info_bg.jpg");
  background-position: 0 0;
  padding: 90px 0;
  text-align: center; }

.information-title {
  margin-bottom: 60px; }

.icon-wrapper {
  display: none;
  width: 154px;
  height: 164px;
  padding-top: 50px;
  margin: 0 auto;
  background-repeat: no-repeat; }

.icon__work {
  background-image: url("../img/icon_01.png"); }

.icon__tv {
  background-image: url("../img/icon_02.png"); }

.icon__comp {
  background-image: url("../img/icon_03.png"); }

.icon__food {
  background-image: url("../img/icon_04.png"); }

.icon__trans {
  background-image: url("../img/icon_05.png"); }

.icon-text_big {
  font-family: "PTSans", sans-serif;
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: #4cb027; }

.icon-text_small {
  font-family: "PTSans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #4cb027; }

.icon-descript {
  display: none;
  font-family: "PTSans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 20px; }

.text-large {
  font-size: 24px; }

.information_note {
  margin: 30px 0 55px 0; }

@media (min-width: 768px) {
  .call-caption {
    margin-top: 0; } }

@media (min-width: 1230px) {
  .information_caption {
    margin-bottom: 75px; }
  .information_note {
    margin: 60px 0; }
  .icon-wrapper {
    display: block; }
  .icon-descript {
    display: block; }
  .text-large {
    font-size: 48px; } }
