<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>calendar</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
	<script src="js/controllers.js"></script>
	<link rel="stylesheet" type="text/css" href="css/main.css">	
</head>
<body>
<div class="calendar-wrapper" ng-controller="calendar" ng-init="list">
	<div>
		<input type="" name="date-time" ng-model="listdatetime" readonly>
	</div>
	<div class="calendar-select-wrapper">
		<div class="calendar-select">
			<input type="" name="date" ng-model="list" ng-change="dateuser()">
			<input type="" name="time" ng-model="time" ng-change="timeuser()">
		</div>
		<div class="table-wrapper">
			<div class="table-select-wrapper">
				<button class="btnleft" ng-click="monthBack(); calendarContent()"><img src="svg/arrleft.svg"></button>
				<span>{{calendarmountcontent}} {{calendaryearcontent}}</span>
				<button class="btnright" ng-click="monthNext(); calendarContent()"><img src="svg/arrright.svg"></button>
			</div>
			<table>
				<thead>
					<tr>
						<th ng-repeat="daymount in daymounts">{{daymount}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="weekmount in weeks">
						<td ng-repeat="dayweek in weekmount.week track by $index" ng-click="selectItem($event)" ng-class="{'today_class' : today_class === dayweek, 'day_user' : day_user === dayweek}">{{dayweek}}</td>
					</tr>
				</tbody>
			</table>
			<div class="calendar-inform">
				<a ng-click="clear()" class="clear">Отменить</a>
				<img ng-class="imgok" src="svg/ok.svg">
			</div>
		</div>
	</div>
</div>
</body>
</html>