/*--------variables--------*/
/*--------mixins--------*/
/*========base========*/
/*--------animation--------*/
/*--------fonts---------*/
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

/*--------global--------*/
body {
  min-width: 751px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #1c1c1c;
  font-weight: 400; }

h4 {
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 30px; }

p {
  font-weight: 300;
  line-height: 28px; }

.wrapper {
  max-width: 800px;
  padding: 0 16px;
  margin: 0 auto; }

/*--------components--------*/
/*--------header--------*/
.header {
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  width: 100%;
  padding: 15px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100; }

.header-menu {
  display: none; }

.header-nav {
  overflow: hidden;
  font-weight: 300;
  font-size: 14px;
  cursor: default; }

.header-lang {
  float: left;
  position: relative;
  left: 25px; }

.btn-lang {
  background: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  padding: 5px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  outline: none;
  transition-property: color, background-color;
  transition-duration: 0.2s; }
  .btn-lang:hover, .btn-lang.select {
    background-color: #435993;
    color: #fff; }

.header-nav-list {
  float: right; }

.header-nav-item {
  display: inline-block;
  position: relative; }

.header-nav-linck {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  line-height: 29px;
  margin: 0 25px;
  cursor: pointer;
  transition: color 0.2s ease-out; }
  .header-nav-linck.active, .header-nav-linck:hover {
    color: #435993; }

.nav-item-line-left,
.nav-item-line-right {
  position: absolute;
  top: 25px;
  display: block;
  height: 1px;
  width: 0;
  background-color: #435993;
  transition: width 0.2s ease-out; }

.nav-item-line-left {
  left: 50%; }

.nav-item-line-right {
  right: 50%; }

.header-nav-linck.active ~ .nav-item-line-left,
.header-nav-linck:hover ~ .nav-item-line-left,
.header-nav-linck:active ~ .nav-item-line-left,
.header-nav-linck.active ~ .nav-item-line-right,
.header-nav-linck:hover ~ .nav-item-line-right,
.header-nav-linck:active ~ .nav-item-line-right {
  width: calc(50% - 20px); }

@media screen and (max-width: 767px) {
  .header-menu {
    display: block;
    cursor: pointer;
    float: right;
    position: relative;
    top: 4px;
    height: 20px;
    width: 25px; }
    .header-menu span {
      display: block;
      width: 25px;
      height: 2px;
      position: absolute;
      left: 0;
      background-color: #1c1c1c;
      transition-property: top, transform, opacity, background-color;
      transition-duration: 0.2s; }
    .header-menu span:nth-child(1) {
      top: 1px; }
    .header-menu span:nth-child(2) {
      top: 9px; }
    .header-menu span:nth-child(3) {
      top: 17px; }
    .header-menu:hover > span,
    .header-menu.open > span {
      background-color: #435993; }
    .header-menu.open > span:nth-child(1) {
      top: 9px;
      transform: rotate(45deg); }
    .header-menu.open > span:nth-child(3) {
      top: 9px;
      transform: rotate(-45deg); }
    .header-menu.open > span:nth-child(2) {
      opacity: 0; }
  .header-lang {
    left: 0; }
  .header-nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 65px;
    right: -9px;
    z-index: 100;
    padding: 0;
    max-height: 0;
    transition: max-height 0.3s;
    overflow: hidden; }
    .header-nav-list.open {
      max-height: 200px; }
  .header-nav-item {
    display: table;
    padding: 5px 0; }
  .nav-item-line-left,
  .nav-item-line-right {
    top: 30px; } }

/*--------content--------*/
.personal {
  padding-top: 120px; }

.personal-header {
  overflow: hidden;
  margin-bottom: 30px; }

.pesonal-img,
.personal-informathion {
  display: inline-block; }

.pesonal-img {
  float: left;
  max-width: 320px;
  border-radius: 50%;
  margin-right: 50px; }

.personal-informathion {
  margin-top: 30px; }

.personal-informathion li {
  padding: 20px 10px 10px 10px;
  font-size: 20px;
  font-weight: 300;
  border-bottom: 1px solid #c8c8c8; }

.personal-informathion a {
  color: #435993; }

.inform-row {
  margin-top: 60px; }

.inform-icon {
  display: block;
  width: 47px;
  margin: 0 auto;
  margin-bottom: 30px; }

.skills-wrapper {
  display: flex;
  justify-content: space-between; }

.skills-item {
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 30px; }
  .skills-item:before {
    content: "\2713";
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    color: #435993;
    border: 1px solid #435993;
    border-radius: 50%;
    margin-right: 10px; }

.javascript {
  margin-top: 30px; }

.javascript-list-item {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px; }

.javascript-item {
  font-weight: 300;
  font-size: 14px;
  display: inline-block;
  float: left;
  width: 33.3333%;
  padding: 0 7.5px;
  line-height: 20px;
  position: relative; }
  .javascript-item:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -27px;
    height: 27px;
    border-left: 2px dotted #c8c8c8; }
  .javascript-item:first-of-type {
    padding-left: 0; }
  .javascript-item:last-of-type {
    float: right;
    text-align: right;
    padding-right: 0; }
    .javascript-item:last-of-type:before {
      right: 0; }

.javascript-slider {
  position: relative;
  z-index: 10;
  position: relative;
  height: 44px;
  cursor: default; }

.slider-line {
  width: 100%;
  height: 14px;
  position: absolute;
  left: 0;
  top: 0; }
  .slider-line:last-of-type {
    clip: rect(0px 0px 14px 0px);
    transition: clip 1s ease-out; }
    .slider-line:last-of-type.open {
      clip: rect(0px 500px 14px 0px); }

.slider-control {
  display: inline-block;
  position: absolute;
  width: 23px;
  height: 26px;
  background-image: url("../img/icon_04.png");
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
  margin-left: -12px;
  top: 17px;
  left: 0;
  transition: left 1s ease-out; }
  .slider-control.open {
    left: 500px; }

.portfolio-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.portfolio-item {
  width: 47.5%;
  margin: 10px 0;
  cursor: pointer;
  position: relative; }

.portfolio-item img {
  width: 100%;
  transition-property: scale box-shadow;
  transition-duration: 0.3s;
  position: relative; }
  .portfolio-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #435993; }

/*--------footer--------*/
.footer {
  border-top: 1px solid #c8c8c8;
  margin-top: 60px;
  width: 100%;
  padding: 15px 0;
  text-align: right; }

.footer p,
.footer a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #1c1c1c; }

.footer a {
  margin-left: 30px; }
